.img-div{
  width: 40%;
  height: 30vh;
}
.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

button:first-of-type {
  left: 10px;
}

button:last-of-type {
  right: 10px;
}