<div class="container">
    <h1 class="noticia mt-5 text-center">Nuestras Últimas Noticias</h1>
    <div class="slider row mt-5 text-center">
        @for (noticia of noticias; track noticia.src; let i = $index) {
            <div class="slide" [ngClass]="{'active': i === indice}">
                <img class="img-fluid" [src]="noticia.src" alt="{{ noticia.titulo }}">
                <figure>
                    <h3>{{ noticia.titulo }}</h3>
                    <p>{{ noticia.descripcion }}</p>
                </figure>
            </div>
        }
    </div>
    <div class="contenido-botones">
        <div class="botones">
            <button class="anterior" (click)="anterior(indice)">Anterior</button>
            <button class="siguiente" (click)="siguiente(indice)">Siguiente</button>
        </div>
    </div>
</div>

